body {
    background-color: #eae9f2;
}

p {
    font-size: 20px;
    gap: 10px;
    margin-top: 1px; 
    margin-bottom: 1px; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 36px;
    position: absolute;
    width: 641px;
    height: 2260px;
    left: 30%;
    top: 240px;
}

header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 42px;
    gap: 24px;
    opacity: 100%;
    position: fixed;
    width: 1200px;
    height: 92px;
    left: 0px;
    top: 0px;
    background: #D1D1D1;
    background-color: rgba(162 142, 170, 0);
    border-bottom: 2px solid #414141;
    z-index: 99999;
}

.buttons-header {
    left: 80%;
    top: 25px;
    bottom: 25px;
}

.page-header {
    position: fixed;
    background-color: rgba(162 142, 170, 0);
    width: 100%;
    height: 180px;
    background: #ffffff;
    background-color: #ffffff;
    opacity: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.nav-clmn {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 24px 0px 42px;
    position: fixed;
    width: 303px;
    height: 100%;
    left: 0px;
    top: 180px;
    bottom: 100%;
    border-right: 2px solid #828282;
    border-top: 1000px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.nav-main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 24px;
    width: 237px;
    height: 250px;
    border-bottom: 1px solid #828282;
    flex: none;
    order: 1;
    flex-grow: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.header-text {
    font-size: 40px;
    width: 500px;
}

.nav-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    width: 237px;
    height: 82px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 20px;
}

.nav-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;    
    width: 237px;
    height: 82px;   
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 20px;
}

.nav-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;    
    width: 237px;
    height: 82px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 20px;
}

.text-main-1 {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 641px;
height: 301px;
left: 30%;
right: 60%;
top: 240px;
flex: none;
order: 0;
flex-grow: 0;
}

.text-main-2 {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 641px;
height: 301px;
left: 30%;
right: 60%;
top: 60%;
flex: none;
order: 0;
flex-grow: 0;
}

.blok {
    text-align: center;
    width:89px;
    }
    .blok a {
    text-decoration: none;
    display: block;
    transition: .5s linear;
    
    }
    .blok ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    }
    .topmenu > li {
    display: block;
    position: relative;
    top:0;
    left:0;
    margin-bottom: 2px;
    }
    .submenu {
    position: absolute;
    left: 0;
    top:0;
    z-index: 5;
    width:89px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s ease-in-out;
    }
    .submenu li {
    position: relative;
    top:0;
    left:0;
    }
    .submenu .submenu {
    position: absolute;
    top: 0;
    left: calc(100% - 1px);
    left: -webkit-calc(100% - 1px);
    }
    .blok li:hover > .submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    }

.text-main-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    gap: 2em;
    position: absolute;
    width: 1000px;
    height: 2260px;
    left: 30%;
    right: 60%;
    top: 240px;
}

.text-main-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    gap: 2em;
    position: absolute;
    width: 1000px;
    height: 2260px;
    left: 30%;
    right: 60%;
    top: 240px;
}

.text-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 1000px;
    height: 700px;
    flex: none;
    order: 0;
    flex-grow: 0;
    line-height: 1.2;
}

.text-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 641px;
    height: 301px;
    flex: none;
    order: 1;
    flex-grow: 0;
    line-height: 1.2;
}

.text-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 641px;
    height: 301px;
    flex: none;
    order: 2;
    flex-grow: 0;
    line-height: 1.2;
}

.text-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    width: 641px;
    height: 101px;
    flex: none;
    order: 3;
    flex-grow: 0;
    line-height: 1.2;
}

.wtneed {
    font-size: 24px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(98, 0, 255);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(9, 206, 255);
    background-color: transparent;
    text-decoration: underline;
}

.theme-button {
    padding: 10px;
    border-radius: 5px;
}

.theme-button:hover {
    color: rgb(255, 255, 255);
    background-color: #5f5f64;
    text-decoration: none;
}

.theme-button:active {
    color: rgb(255, 255, 255);
    background-color: #201d4d;
    text-decoration: none;
}

.lang-button {
    padding: 10px;
    border-radius: 5px;
}

.lang-button:hover {
    color: rgb(255, 255, 255);
    background-color: #5f5f64;
    text-decoration: none;
}

.lang-button:active {
    color: rgb(255, 255, 255);
    background-color: #201d4d;
    text-decoration: none;
}









